<div class="header-top">
  <div class="container">
    <div class="header-top-container">
      {% if page.header_top %}
        <div class="header-top-right header-top-block">
            {{ page.header_top }}
        </div> <!--/.header-top-left -->
      {% endif %}
    </div> <!--/.header-top-container -->
  </div> <!--/.container -->
</div> <!--/.header-top -->
