<ul class="social-icons">
  {% if facebook_url != '' %}
    <li><a href="{{ facebook_url }}" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
  {% endif %}
  {% if twitter_url != '' %}
    <li><a href="{{ twitter_url }}" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
  {% endif %}
  {% if instagram_url != '' %}
    <li><a href="{{ instagram_url }}" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
  {% endif %}
  {% if linkedin_url != '' %}
    <li><a href="{{ linkedin_url }}" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
  {% endif %}
</ul>
